<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI23_collect练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49CF59BC1C46661400D8FE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49CF59D51C46661400D8FE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49CF59E01C46661400D8FE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
